# READING HABIT DATASET

# Import Library

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/MyDrive/Colab Notebooks/Reading_Habit.csv'

# Memuat Dataset

In [ ]:
burn = pd.read_csv(path)
burn

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2827,18,Male,White,Never been married,High school graduate,Employed part-time,"$75,000 to under $100,000",0,NaN,NaN,NaN,NaN,Yes,Yes
2828,17,Male,White,Never been married,High school incomplete,Employed part-time,"$30,000 to under $40,000",0,NaN,NaN,NaN,NaN,Yes,No
2829,17,Female,White,Never been married,High school incomplete,Not employed for pay,"9$100,000 to under $150,000",0,NaN,NaN,NaN,NaN,No,Yes
2830,16,Male,White,Never been married,High school graduate,Not employed for pay,"9$100,000 to under $150,000",0,NaN,NaN,NaN,NaN,No,No
2831,16,Male,White,Never been married,Don’t know,Not employed for pay,Refused,0,NaN,NaN,NaN,NaN,No,No

In [ ]:
burn.head()

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [ ]:
burn.tail()

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
2827,18,Male,White,Never been married,High school graduate,Employed part-time,"$75,000 to under $100,000",0,NaN,NaN,NaN,NaN,Yes,Yes
2828,17,Male,White,Never been married,High school incomplete,Employed part-time,"$30,000 to under $40,000",0,NaN,NaN,NaN,NaN,Yes,No
2829,17,Female,White,Never been married,High school incomplete,Not employed for pay,"9$100,000 to under $150,000",0,NaN,NaN,NaN,NaN,No,Yes
2830,16,Male,White,Never been married,High school graduate,Not employed for pay,"9$100,000 to under $150,000",0,NaN,NaN,NaN,NaN,No,No
2831,16,Male,White,Never been married,Don’t know,Not employed for pay,Refused,0,NaN,NaN,NaN,NaN,No,No

# Business Understanding

## Business Objective

Dataset Reading Habit Dataset

Data ini merupakan sebuah data yang berisi informasi mengenai kebiasaan membaca responden, seperti jumlah buku yang dibaca per tahun, usia, dan jenis kelamin. Disini kita akan membantu untuk memahami, mengevaluasi, serta menganalisis pola kebiasaan membaca berdasarkan karakteristik demografis.
Dalam dataset ini terdapat sejumlah baris dan kolom yang merepresentasikan data responden terkait kebiasaan membaca mereka.
Data ini bertujuan untuk membantu memahami tingkat minat baca masyarakat serta melihat potensi pasar dalam industri buku.

## Assess Situation

Situasi dalam dataset ini berasal dari data survei kebiasaan membaca. Hal ini berarti data yang diperoleh sangat bergantung pada jawaban responden dan kemungkinan terdapat bias atau ketidakseimbangan distribusi data.

Karena dataset ini mencakup berbagai karakteristik responden seperti usia dan jenis kelamin, maka diperlukan analisis yang lebih terstruktur untuk memahami pola kebiasaan membaca.
Selain itu, terdapat kemungkinan adanya missing values atau data yang tidak merata di setiap kategori, sehingga perlu dilakukan pemeriksaan lebih lanjut pada tahap berikutnya.

## Analytic Goals & Project Plan

Dalam dataset ini akan dilakukan:

- Mengidentifikasi distribusi jumlah buku yang dibaca per tahun
- Menganalisis perbandingan rata-rata jumlah buku berdasarkan jenis kelamin
- Menganalisis perbandingan rata-rata jumlah buku berdasarkan kelompok usia
- Menghasilkan visualisasi untuk memperjelas pola kebiasaan membaca
- Menyediakan dasar pengambilan keputusan terkait potensi pasar industri buku